# Python
.venv/
__pycache__/
*.pyc
*.pyo

# Archivos PDF (evitar subida de binarios editoriales con copyright)
*.pdf

# Archivos del sistema macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# IDEs y editores
.vscode/
.idea/
.agents
.AGENTS.md
*.swp
*.swo

# Logs
*.log
